{% extends 'network/base.html' %}

{% block title %}Following{% endblock %}

{% block content %}
    <div class="following">
        <h2>Following</h2>
        <ul>
            {% for user in following %}
            <li>
                <img src="{{ user.profile_pic.url }}" alt="Following User Profile Picture">
                <h3>{{ user.username }}</h3>
                <form action="{% url 'unfollow' user.username %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Unfollow</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}